__pycache__/
*.pyc
.env
*.bin
*.gguf
*.pth
*.csv
logs/
*.log
node_modules/
package-lock.json
.next/
postcss.config.mjs
nextjs.config.mjs
tailwind.config.js
eslint.config.mjs
jsconfig.json
.vscode/
Thumbs.db
.DS_Store
